#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.pg-canvas {
  display: block;
  background-color: #0000;
}

#webcoderskull {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  z-index: 1;
  transform: translateY(-50%);
}

#webcoderskull h1 {
  letter-spacing: 5px;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

#webcoderskull p {
  color: white;
}